# I am a complete /etc/rabbitmq/rabbitmq-env.conf file.
# Comment lines start with a hash character.
# This is a /bin/sh script file - use ordinary envt var syntax
RABBITMQ_USE_LONGNAME={{ rabbitmq_use_longname }}
